body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: whitesmoke;

}
.card {
    background-color: #000000;
    border: 10px solid #560372;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 500px;
}
.button {
    background-color: #560372;
    border-radius: 20px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0,3s;
}
button:hover {
    background-color: #505051;
    color: #fff;
}
.image {
    border-radius: 50px;
    width: 200px;
    height: 150px;
    border : 5px solid #00578d;
}   
h1 {
    font-size: 50px;
    color: #fff;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
.dark {
    background: linear-gradient(135deg, #1a261c8e 0%, #1e1e1e 100%);
}